<div class="card col-sm-5 mx-auto mt-5">
  <div class="card-body">
    <h3 class="mt-1 mb-3">ジャンル情報の編集</h3>
    <%= form_with model: @genre, local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :genre, "タイトル",:class => "form-label" %><br />
        <%= f.text_field :genre, placeholder: "ジャンル名", :class => "form-controll col-12" %>
      </div>

      <div class="form-group">
        <%= f.label :genre_info, "ジャンル説明", :class => "form-label" %><br />
        <%= f.text_area :genre_info, placeholder: "ジャンルの内容", rows: "4", :class => "form-controll col-12" %>
      </div>

      <div class="actions">
        <%= f.submit "更新", :class => "btn btn-success btn-block" %>
      </div>
      
      <div class="actions mt-4">
        <%= link_to "削除", genre_path(@genre.id), method: :delete, data: {
          confirm: "関連記事も含めて削除されますが、本当に削除しますか？"
        }, :class => "btn btn-outline-danger" %>
      </div>
    <% end %>
  </div>
  <div class="col-12 mt-3">
    <p class="text-center"><%= link_to "Topへ", root_path, class: "text-reset" %> | <%= link_to "#{@genre.genre}へ", genre_path(@genre.id), class: "text-reset" %></p>
  </div>
</div>
