<div class="card col-sm-5 mx-auto mt-5">
  <div class="card-body">
    <h3 class="mt-1 mb-3">ジャンルを追加する</h3>
    <%= form_with model: @genre, local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :genre, "タイトル",:class => "form-label" %><br />
        <%= f.text_field :genre, placeholder: "ジャンル名", :class => "form-controll col-12" %>
      </div>

      <div class="form-group">
        <%= f.label :genre_info, "ジャンル説明", :class => "form-label" %><br />
        <%= f.text_area :genre_info, placeholder: "ジャンルの内容", rows: "4", :class => "form-controll col-12" %>
      </div>

      <div class="actions">
        <%= f.submit "追加", :class => "btn btn-success btn-block" %>
      </div>
      
    <% end %>
  </div>
</div>
<div class="col-12 mt-3">
  <p class="text-center"><%= link_to "Topへ", root_path, class: "text-reset" %> | <%= link_to "ジャンル一覧へ", genres_path, class: "text-reset" %></p>
</div>
