<div class="card col-sm-5 mx-auto mt-5">
  <div class="card-body">
    <p>ジャンル：<%= @article.genre.genre %></p>
    <h3 class="mt-1 mb-3"><%= @article.title %></h3>
    <h4 > 記事の内容 </h4>
    <p><%= @article.article %></p>
    <h4>参考・備考</h4>
    <p><%= @article.reference_info %></p>
    <p>作成者：<%= @article.user.nickname %></p>

    <div class="actions mt-4">
        <%= link_to "編集", edit_genre_article_path(genre_id: @article.genre_id, id: @article.id), :class => "btn btn-outline-secondary" %>
    </div>

  </div>
</div>
<div class="mt-3 col-12">
  <p class="text-center"><%= link_to "Topへ", root_path, class: "text-reset" %> 
  | <%= link_to "#{@article.genre.genre}へ", genre_path(@article.genre), class: "text-reset" %></p>
</div>