<div class="container">
  <div class="row" name="user-info">
    <div class="col-lg-3 col-sm-12">
      <%= "ようこそ#{current_user.nickname}さん"%>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row my-2 py-2 border border-danger">
    <div class="col-12">
      <h3 class="text-center"><span class="badge badge-danger">Fight!</span> 積み上げ一覧</h3>
    </div>
    <div class="col-12">
      <p class="lead text-lg-center">今日も<span class="text-danger"><%= current_user.purpose %></span>という目標に向かって行動を積み上げていきましょう!</p>
    </div>
    <div class="col-lg-6 col-sm-12 text-center">
      <h4><%= "総合記事：作成記事数は#{ @articles.count }件！"%></h4>
    </div>
    <div class="col-lg-6 col-sm-12 text-center">
      <h4><%= "ジャンル：ジャンルは#{ @genres.count }件！" %></h4>
    </div>
  </div>

  <div class="row mx-auto mt-3">
    <div class="col-12">
      <h3 class="text-center"><span class="badge badge-success">New</span> 最近の学習記事</h3>
      <p class="text-center">↓最新記事はこちら↓</p>
    </div>

    <% @articles.first(9).each do |article|%>
    <div class="col-lg-4 col-sm-12 mb-3">
      <div class="card border-success flex-fillx h-100">
        <div class="card-header">
          <h5>ジャンル：<%= link_to article.genre.genre, genre_path(article.genre), class: "text-reset" %></h5>
          <h3 class="mt-3 mb-3"><%= link_to article.title, genre_article_path(genre_id: article.genre_id, id: article.id), class: "text-reset" %></h3>
        </div>
        <div class="card-body">
          <h5> [記事の内容] </h5>
          <p class="lead"><%= article.article %></p>
          <% unless article.reference_info.blank? %>
            <h5>[参考・備考]</h5>
            <p><%= text_url_to_link(h(article.reference_info)).html_safe %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
