<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TsundokuWatcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      .top-space{
        height: 70px;
      }

      .pagination>li>a {
        border: none;
        color: #28a745;
      }
      
      .pagination>.active>a {
        background: #d4edda !important;
        color: #28a745;
        border-radius: 5px;
      }

      .pagination>.active>a:hover {
        background: #d4edda;
        color: white;
        border-radius: 5px;
      }

      .pagination>li>a:hover {
        background: #28a745;
        color: white;
        border-radius: 5px;
      }
    </style>

  </head>

  <body>

<%# 以下ナビバー %>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "積読WATCHER", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<%# if文による条件分岐で表示を変更 %>
<% if user_signed_in?%>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to genres_path, class: "nav-link" do %>
          <i class="fa fa-book" aria-hidden="true"></i> ジャンル一覧
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_genre_path, class: "nav-link" do %>
          <i class="fas fa-book-medical" aria-hidden="true"></i> ジャンル追加
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to edit_user_path(@user.id), class: "nav-link" do %>
          <i class="fas fa-user-edit" aria-hidden="true"></i> ユーザー編集
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete,data: {
          confirm: "ログアウトしてもよろしいですか？"
        }, class: "nav-link" do %>
          <i class="fas fa-door-open" aria-hidden="true"></i> ログアウト
        <% end %>
      </li>
    </ul>
    <%= form_with(url: search_path, local: true, method: :get, class: "form-inline my-2 my-lg-0") do |f| %>
      <%= f.text_field :keyword, placeholder: "記事検索", :class => "form-control mr-sm-2" %>
      <%= f.submit "検索", :class => "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
<% end %>
<%# if文による条件分岐で表示を変更 %>
</nav>
<div class="top-space"></div>
</header>
<%# ここまでナビバー %>

    <%= yield %>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <p class="text-center">© TSUNDOKU WATCHER</p>
      </div>
    </footer>
  </body>
</html>
