<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TsundokuWhatcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      .top-space{
        height: 70px;
      }

    </style>

  </head>

  <body>

<%# 以下ナビバー %>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "積読WATCHER", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<%# if文による条件分岐で表示を変更 %>
<% if user_signed_in?%>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "ジャンル一覧", genres_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ジャンル追加", new_genre_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ユーザー編集", edit_user_path(@user.id), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete,data: {
          confirm: "ログアウトしてもよろしいですか？"
        }, class: "nav-link" %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="記事検索" aria-label="検索">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
    </form>
  </div>
<% end %>
<%# if文による条件分岐で表示を変更 %>
</nav>
<div class="top-space"></div>
</header>
<%# ここまでナビバー %>

    <%= yield %>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <p class="text-center">© TSUNDOKU WATCHER</p>
      </div>
    </footer>
  </body>
</html>
